body {
	font-family: helvetica;
	margin: 0px;
	padding: 0px;
	background-color: rgb(251,251,251);
}

.header {
	width: 100%;
	color: black;
	text-align: center;
	padding: 12px 0px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,1);
	z-index: 99999999;
}

.header_title {
	font-size: 1.95em;
	font-weight: bold;
}

.header_sub {
	margin-top: 10px;
	font-weight: lighter;
	font-size: .9em;
}

.user_input {
	position: relative;
	z-index: 9;
	width: 100%;
	height: 360px;
	padding: 0px;
}

#map {
	width: 100%;
	height: 100%;
	z-index: -10;
}

.dropmenu {
	position: absolute;
	top: 10px;
	left: 50px;
}

.departure_stn {
	height: 40px;
	font-size: 1em;
	border-radius: 0px;
	font-weight: lighter;
}

.axis_map {
	position: absolute;
	left: 290px;
	width: 1050px;
	height: 100%;
	z-index: -9999;
	display: none;
}

.axis {
	position: absolute;
	height: 100%;
	width: 0px;
	border-left: 1px dotted rgb(200,200,200);

	color: rgb(170,170,170);
	font-size: .7em;
}

.axis1 {
	position: absolute;
	left: 30px;}
.axis5 {
	position: absolute;
	left: 150px;}
.axis10 {
	position: absolute;
	left: 300px;}
.axis15 {
	position: absolute;
	left: 450px;}
.axis20 {
	position: absolute;
	left: 600px;}
.axis25 {
	position: absolute;
	left: 750px;}
.axis30 {
	position: absolute;
	left: 900px;}
.axis35 {
	position: absolute;
	left: 1050px;}
.axis40 {
	position: absolute;
	left: 1200px;}
.axis45 {
	position: absolute;
	left: 1350px;}
.axis50 {
	position: absolute;
	left: 1500px;}

.train_map {
	position: absolute;
	padding-top: 40px;
	width: 100%;
	min-width: 1400px;
	overflow: hidden;
}	

.myStation {
	position: absolute;
	width: 100px;
	left: 192px;
	height: 100%;
	z-index: 999999;
	background-color: rgb(240,240,240);
	text-align: center;
	border: 1px solid rgb(210,210,210);
	text-overflow:ellipsis;
}

.myStation p {
	position: relative;
	vertical-align: middle;
	color: rgb(120,120,120);
	font-size: .75em;
	width: 90%;
	margin-left: 5%;
	line-height: 1.4em;
}

.each_dest {
	position: relative;
	width: 100%;
	height: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
	z-index: 9;
}

.dest_name {
	position: relative;
	font-size: 13px;
	padding-top: 2px;
	width: 10%;
	min-width: 140px;
	height: 18px;
	display: inline-block;
	text-align: right;
	border-top: 1px solid rgb(210,210,210);
	border-bottom: 1px solid rgb(210,210,210);
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.dest_lane {
	position: relative;
	width: 90%;
	min-width: 1200px;
	height: 20px;
	border-top: 1px solid rgb(210,210,210);
	border-bottom: 1px solid rgb(210,210,210);
	display: inline-block;
	background-color: rgb(240,240,240);
}

.dest_upcoming {
	width: 90%;
	min-width: 1050px;
	height: 20px;
	position: relative;
	left: 150px;
}

.each_train {
	position: absolute;
	top: -3px;
	height: 20px;
	width: 30px;
	
	border-radius: 20px;
	border: 3px solid rgb(70,70,70);
	display: inline-block;

	color: white;
}

.each_train p {
	font-size: 9px;
	color: black;
	position: relative;
	top: -4px;
	left: 2px;
}

.boarding_train {
	width: 42px;
	border-color: white;
	box-shadow: 0px 2px 3px rgba(0,0,0,.5), 0px 1px 2px rgba(0,0,0,.4) inset;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	z-index: 99999999999;
}